<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover">
  <meta name="theme-color" content="#000000">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <title>Stuff</title>
  <style>
    @font-face {
      font-family: 'Manrope VF';
      src: url(/web/Manrope.ttf) format('truetype-variations');
      font-style: normal;
      font-variation-settings: 'wght'500;
      font-variation-ligatures: normal;
      font-weight: 200 800;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-ExtraLight.woff2) format('woff2');
      font-weight: 200;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-Light.woff2) format('woff2');
      font-weight: 300;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-Regular.woff2) format('woff2');
      font-weight: 400;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-Medium.woff2) format('woff2');
      font-weight: 500;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-SemiBold.woff2) format('woff2');
      font-weight: 600;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-Bold.woff2) format('woff2');
      font-weight: 700;
    }

    @font-face {
      font-family: Manrope;
      src: url(/web/Manrope-ExtraBold.woff2) format('woff2');
      font-weight: 800;
    }

    .useMonrope {
      font-family: 'Manrope VF', Manrope, -apple-system, BlinkMacSystemFont, Roboto,
        'Helvetica Neue', sans-serif;

    }

    .manropeBold {
      font-variation-settings: 'wght'600;
    }
  </style>
</head>

<body style={{#if dark}}"background-color: #222327"{{else}}"background-color: #FFF"{{/if}} class="useMonrope">
  <div style="display: flex; flex-direction:column; justify-content: center; align-items: center;">

    {{#if dark}}
    <h1 style="color: #FFF">Синхронизация</h1>

    {{else}}
    <h1 style="color: #000">Синхронизация</h1>

    {{/if}}

    <div style="margin-top: 6rem;">

      <svg width="213" height="154" viewBox="0 0 213 154" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
          <path opacity="0.1"
            d="M198.465 73.5955C198.582 72.2484 198.644 70.8795 198.644 69.4966C198.644 47.8419 183.952 30.2862 165.829 30.2862C160.059 30.2862 154.619 32.077 149.911 35.2109C137.083 25.2621 120.335 19.251 102.013 19.251C72.2004 19.251 46.5563 35.183 35.1788 58.0315C34.548 57.9878 33.9113 57.9639 33.2686 57.9639C15.1359 57.9639 0.445435 75.5176 0.445435 97.1722C0.445435 105.131 2.4352 112.539 5.84566 118.723C5.84566 138.205 21.4554 154.004 40.7104 154.004H64.9855L65.093 153.819C66.5196 151.503 69.9361 150.924 72.3158 152.239C72.9446 152.585 73.5296 153.035 74.232 153.194C77.0435 153.791 78.9318 149.268 81.7772 149.708C83.2058 149.929 84.3201 151.405 85.7567 151.254C86.7098 151.153 87.4321 150.355 88.3275 150.016C89.7621 149.471 91.2166 150.227 92.2214 151.455C92.8044 149.778 92.8005 147.79 93.7436 146.252C95.1703 143.936 98.5867 143.357 100.966 144.672C101.595 145.018 102.18 145.468 102.883 145.627C105.694 146.224 107.582 141.701 110.428 142.141C111.856 142.362 112.971 143.838 114.407 143.687C115.36 143.586 116.083 142.788 116.978 142.449C119.211 141.6 121.497 143.906 122.046 146.23C122.259 147.254 122.371 148.296 122.382 149.342C124.308 148.409 125.936 145.784 128.135 146.124C129.563 146.345 130.678 147.822 132.114 147.671C133.067 147.569 133.79 146.771 134.685 146.433C136.918 145.583 139.204 147.889 139.753 150.213C140.045 151.447 140.065 152.729 140.115 153.994H180.338C195.46 153.994 207.713 141.594 207.713 126.296C210.782 120.327 212.555 113.307 212.555 105.79C212.555 92.4585 206.983 80.6791 198.465 73.5955Z"
            fill="#42A4FF" />
          <path
            d="M124.408 52.9279C133.968 52.9279 141.719 45.1775 141.719 35.6169C141.719 26.0563 133.968 18.3059 124.408 18.3059C114.847 18.3059 107.097 26.0563 107.097 35.6169C107.097 45.1775 114.847 52.9279 124.408 52.9279Z"
            fill="#42A4FF" />
          <path d="M118.835 36.2695L124.38 30.724L129.981 36.2695H126.175V40.5097H122.641V36.2973L118.835 36.2695Z"
            fill="white" />
          <path
            d="M147.195 79.8293C146.96 78.6223 146.356 77.5181 145.466 76.6702C144.575 75.8223 143.443 75.2727 142.226 75.0976C141.009 74.9226 139.768 75.1309 138.675 75.6936C137.581 76.2562 136.69 77.1453 136.126 78.2375C134.921 78.3687 133.812 78.9568 133.027 79.8807C132.243 80.8046 131.842 81.994 131.908 83.2043C131.974 84.4146 132.501 85.5536 133.381 86.387C134.261 87.2205 135.427 87.685 136.639 87.6849H146.918C147.964 87.6817 148.966 87.2655 149.707 86.5269C150.447 85.7883 150.866 84.787 150.872 83.7411C150.876 82.7425 150.496 81.7804 149.812 81.0528C149.128 80.3251 148.192 79.8873 147.195 79.8293ZM142.648 82.1613V85.1579H140.127V82.1533H137.431L141.385 78.1996L145.336 82.1533L142.648 82.1613Z"
            fill="white" />
          <path
            d="M177.439 128.977C177.205 127.77 176.601 126.665 175.71 125.818C174.82 124.97 173.688 124.42 172.471 124.245C171.254 124.07 170.012 124.278 168.919 124.841C167.826 125.404 166.935 126.293 166.37 127.385C165.165 127.516 164.056 128.104 163.272 129.028C162.487 129.952 162.087 131.141 162.152 132.352C162.218 133.562 162.745 134.701 163.625 135.534C164.505 136.368 165.671 136.832 166.883 136.832H177.163C178.209 136.829 179.211 136.413 179.951 135.674C180.692 134.936 181.111 133.934 181.116 132.888C181.12 131.89 180.741 130.928 180.057 130.2C179.373 129.472 178.436 129.035 177.439 128.977ZM172.893 131.309V134.305H170.372V131.301H167.675L171.629 127.347L175.581 131.301L172.893 131.309Z"
            fill="white" />
          <path
            d="M65.9983 93.5152C65.6328 91.651 64.6963 89.9468 63.3188 88.6388C61.9412 87.3307 60.1908 86.4837 58.3102 86.2152C56.4296 85.9467 54.5121 86.2699 52.8235 87.1401C51.1349 88.0103 49.7589 89.3844 48.8863 91.0717C47.0251 91.2761 45.3129 92.1858 44.1017 93.6137C42.8905 95.0416 42.2724 96.8792 42.3743 98.7488C42.4762 100.618 43.2904 102.378 44.6497 103.666C46.0089 104.954 47.8098 105.672 49.6822 105.673H65.5705C67.1897 105.667 68.741 105.022 69.8855 103.876C71.0301 102.731 71.6749 101.179 71.6791 99.5601C71.6843 98.0173 71.0984 96.5311 70.0419 95.4069C68.9854 94.2826 67.5384 93.6057 65.9983 93.5152ZM58.9724 97.1166V101.761H55.0625V97.1166H50.9079L57.0185 91.0081L63.1231 97.1166H58.9724Z"
            fill="white" />
          <path
            d="M134.357 109.433V104.598L136.585 106.826L137.142 106.249L133.959 103.066L130.775 106.249L131.332 106.807L133.561 104.598V109.433H134.357Z"
            fill="white" />
          <path
            d="M23.1288 115.999V111.164L25.3574 113.393L25.9145 112.816L22.7309 109.632L19.5472 112.816L20.1044 113.373L22.3329 111.164V115.999H23.1288Z"
            fill="white" />
          <path
            d="M134.158 63.8677V60.2443L135.829 61.9157L136.247 61.4839L133.859 59.0962L131.472 61.4839L131.889 61.9018L133.561 60.2443V63.8677H134.158Z"
            fill="white" />
          <path
            d="M90.5818 37.6028V33.9794L92.2532 35.6508L92.6711 35.219L90.2834 32.8313L87.8956 35.219L88.3135 35.6369L89.9849 33.9794V37.6028H90.5818Z"
            fill="white" />
          <path
            d="M74.2658 73.4184V69.7951L75.9372 71.4665L76.355 71.0347L73.9673 68.647L71.5796 71.0347L71.9974 71.4525L73.6688 69.7951V73.4184H74.2658Z"
            fill="white" />
          <path
            d="M176.54 90.1325V86.5092L178.211 88.1806L178.629 87.7488L176.241 85.3611L173.854 87.7488L174.271 88.1667L175.943 86.5092V90.1325H176.54Z"
            fill="white" />
          <path
            d="M70.6842 122.168V118.544L72.3556 120.216L72.7735 119.784L70.3858 117.396L67.998 119.784L68.4159 120.202L70.0873 118.544V122.168H70.6842Z"
            fill="white" />
          <path
            d="M157.438 59.4939C158.097 59.4939 158.632 58.9594 158.632 58.3001C158.632 57.6407 158.097 57.1062 157.438 57.1062C156.779 57.1062 156.244 57.6407 156.244 58.3001C156.244 58.9594 156.779 59.4939 157.438 59.4939Z"
            fill="white" />
          <path
            d="M45.0162 56.3106C45.6756 56.3106 46.2101 55.7761 46.2101 55.1167C46.2101 54.4574 45.6756 53.9229 45.0162 53.9229C44.3569 53.9229 43.8224 54.4574 43.8224 55.1167C43.8224 55.7761 44.3569 56.3106 45.0162 56.3106Z"
            fill="white" />
          <path
            d="M80.2351 86.5547C80.8945 86.5547 81.429 86.0202 81.429 85.3609C81.429 84.7015 80.8945 84.167 80.2351 84.167C79.5758 84.167 79.0413 84.7015 79.0413 85.3609C79.0413 86.0202 79.5758 86.5547 80.2351 86.5547Z"
            fill="white" />
          <path
            d="M184.499 106.254C184.829 106.254 185.096 105.986 185.096 105.657C185.096 105.327 184.829 105.06 184.499 105.06C184.169 105.06 183.902 105.327 183.902 105.657C183.902 105.986 184.169 106.254 184.499 106.254Z"
            fill="white" />
          <path
            d="M139.729 122.769C140.059 122.769 140.326 122.501 140.326 122.172C140.326 121.842 140.059 121.575 139.729 121.575C139.399 121.575 139.132 121.842 139.132 122.172C139.132 122.501 139.399 122.769 139.729 122.769Z"
            fill="white" />
          <path
            d="M63.1231 136.697C63.4527 136.697 63.72 136.43 63.72 136.1C63.72 135.77 63.4527 135.503 63.1231 135.503C62.7934 135.503 62.5261 135.77 62.5261 136.1C62.5261 136.43 62.7934 136.697 63.1231 136.697Z"
            fill="white" />
          <path
            d="M19.5472 88.3457C19.8769 88.3457 20.1442 88.0785 20.1442 87.7488C20.1442 87.4191 19.8769 87.1519 19.5472 87.1519C19.2176 87.1519 18.9503 87.4191 18.9503 87.7488C18.9503 88.0785 19.2176 88.3457 19.5472 88.3457Z"
            fill="white" />
          <path
            d="M25.3175 75.611C25.6472 75.611 25.9144 75.3437 25.9144 75.014C25.9144 74.6844 25.6472 74.4171 25.3175 74.4171C24.9878 74.4171 24.7206 74.6844 24.7206 75.014C24.7206 75.3437 24.9878 75.611 25.3175 75.611Z"
            fill="white" />
          <path
            d="M153.657 142.467C153.987 142.467 154.254 142.2 154.254 141.87C154.254 141.541 153.987 141.273 153.657 141.273C153.328 141.273 153.061 141.541 153.061 141.87C153.061 142.2 153.328 142.467 153.657 142.467Z"
            fill="white" />
          <path
            d="M43.2255 121.774C43.5551 121.774 43.8224 121.506 43.8224 121.177C43.8224 120.847 43.5551 120.58 43.2255 120.58C42.8958 120.58 42.6285 120.847 42.6285 121.177C42.6285 121.506 42.8958 121.774 43.2255 121.774Z"
            fill="white" />
          <path
            d="M56.9548 67.0552C57.2845 67.0552 57.5518 66.7879 57.5518 66.4583C57.5518 66.1286 57.2845 65.8613 56.9548 65.8613C56.6252 65.8613 56.3579 66.1286 56.3579 66.4583C56.3579 66.7879 56.6252 67.0552 56.9548 67.0552Z"
            fill="white" />
          <path
            d="M77.3499 45.2671H74.2658V42.183H73.8678V45.2671H70.7837V45.6651H73.8678V48.7492H74.2658V45.6651H77.3499V45.2671Z"
            fill="white" />
          <path
            d="M152.464 102.252H150.595V100.384H150.353V102.252H148.484V102.495H150.353V104.363H150.595V102.495H152.464V102.252Z"
            fill="white" />
          <path
            d="M141.122 137.073H139.254V135.205H139.011V137.073H137.142V137.316H139.011V139.184H139.254V137.316H141.122V137.073Z"
            fill="white" />
          <path
            d="M48.1999 132.696H46.3315V130.827H46.0887V132.696H44.2203V132.938H46.0887V134.807H46.3315V132.938H48.1999V132.696Z"
            fill="white" />
          <path
            d="M35.0673 97.6756H33.1989V95.8073H32.9562V97.6756H31.0878V97.9184H32.9562V99.7868H33.1989V97.9184H35.0673V97.6756Z"
            fill="white" />
          <path
            d="M90.6734 133.251L90.6873 132.13L90.0148 132.122L90.0009 133.243L88.8408 136.593L91.7538 136.627L90.6734 133.251Z"
            fill="#3F3D56" />
          <path
            d="M93.5964 133.314L93.6103 132.166L92.9199 132.156L92.9059 133.306L91.7161 136.743L94.7047 136.777L93.5964 133.314Z"
            fill="#3F3D56" />
          <path
            d="M96.5014 133.32L96.5153 132.2L95.8428 132.192L95.8289 133.312L94.6688 136.663L97.5838 136.697L96.5014 133.32Z"
            fill="#3F3D56" />
          <path
            d="M117.279 133.597L117.292 132.447L116.602 132.439L116.588 133.589L115.398 137.023L118.387 137.059L117.279 133.597Z"
            fill="#3F3D56" />
          <path
            d="M120.267 133.633L120.281 132.483L119.591 132.475L119.577 133.625L118.387 137.059L121.375 137.095L120.267 133.633Z"
            fill="#3F3D56" />
          <path
            d="M123.256 133.668L123.27 132.518L122.579 132.51L122.565 133.66L121.375 137.095L124.364 137.131L123.256 133.668Z"
            fill="#3F3D56" />
          <path
            d="M103.712 133.436L103.726 132.286L103.036 132.278L103.022 133.428L101.832 136.862L104.821 136.898L103.712 133.436Z"
            fill="#3F3D56" />
          <path
            d="M106.701 133.472L106.715 132.321L106.026 132.313L106.013 133.464L104.821 136.898L107.809 136.934L106.701 133.472Z"
            fill="#3F3D56" />
          <path
            d="M109.69 133.507L109.704 132.357L109.015 132.349L109.001 133.499L107.809 136.934L110.8 136.97L109.69 133.507Z"
            fill="#3F3D56" />
          <path
            d="M101.677 53.043C101.635 49.0834 96.971 42.0635 94.4539 42.0337C91.9369 42.0038 87.3345 48.9123 87.1992 52.8699H87.0799L86.1307 132.423L100.732 132.596L101.681 53.045L101.677 53.043Z"
            fill="#3F3D56" />
          <path
            d="M128.348 53.3615C128.306 49.4019 123.642 42.382 121.125 42.3521C118.608 42.3223 114.005 49.2308 113.872 53.1884H113.753L112.804 132.741L127.404 132.914L128.354 53.3635L128.348 53.3615Z"
            fill="#3F3D56" />
          <path
            d="M115.227 16.1013C115.205 10.2971 110.579 0.0299121 108.064 6.56393e-05C105.549 -0.0297809 100.901 10.126 100.748 15.9182H100.63L99.2373 132.566L113.836 132.741L115.229 16.0913L115.227 16.1013Z"
            fill="#2F2E41" />
          <path d="M101.75 78.6815L107.298 73.134L112.897 78.6815H109.093V82.9217H105.557V78.7074L101.75 78.6815Z"
            fill="#42A4FF" />
          <g opacity="0.1">
            <path opacity="0.1"
              d="M114.831 54.7027C116.341 51.1788 119.29 47.5037 121.125 47.5256C123.513 47.5534 127.814 53.851 128.302 57.8724L128.354 53.5526C128.312 49.5929 123.648 42.573 121.131 42.5432C119.32 42.5213 116.427 46.1009 114.899 49.583L114.831 54.7027Z"
              fill="black" />
            <path opacity="0.1"
              d="M87.0819 58.0416H87.2013C87.3346 54.084 91.9389 47.1755 94.454 47.2053C96.0975 47.2252 98.6544 50.2238 100.244 53.4055L100.63 21.0996H100.748C100.903 15.2974 105.549 5.14167 108.064 5.18146C110.44 5.20932 114.702 14.3762 115.183 20.2838L115.229 16.3043C115.207 10.5001 110.581 0.232915 108.066 0.203069C105.551 0.173222 100.903 10.329 100.75 16.1312H100.632L100.246 48.437C98.6544 45.2534 96.0995 42.2568 94.456 42.2369C91.9409 42.2071 87.3366 49.1155 87.2033 53.0732H87.0839L86.1348 132.626H86.1945L87.0819 58.0416Z"
              fill="black" />
          </g>
          <path
            d="M108.063 5.05118L108.061 5.05115C107.3 5.04212 106.675 5.6521 106.666 6.4136L106.628 9.63481C106.619 10.3963 107.229 11.0209 107.99 11.03L107.992 11.03C108.754 11.039 109.379 10.4291 109.388 9.66756L109.426 6.44635C109.435 5.68486 108.825 5.06022 108.063 5.05118Z"
            fill="#ECECF3" />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="212.109" height="154" fill="white" transform="translate(0.445435)" />
          </clipPath>
        </defs>
      </svg>
    </div>

    {{#if dark}}
    {{#if notAvailable}}
    <div style="margin: 2rem 1rem 1rem; font-size: 1.5rem; font-weight: 600; color: #FFF;">Подождите</div>
    {{else}}
    <div style="margin: 2rem 1rem 1rem; font-size: 1.5rem; font-weight: 600; color: #FFF;">Почти готово</div>
    {{/if}}
    <div style="margin: 1rem; color: #858585;">{{ message }}</div>
    {{else}}
    {{#if notAvailable}}
    <div style="margin: 2rem 1rem 1rem; font-size: 1.5rem; font-weight: 600; color: #000;">Подождите</div>
    {{else}}
    <div style="margin: 2rem 1rem 1rem; font-size: 1.5rem; font-weight: 600; color: #000;">Почти готово</div>
    {{/if}}
    <div style="margin: 1rem; color: #6A6A6A;">{{ message }}</div>
    {{/if}}
  </div>
</body>

</html>